@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

:root {
  --main-color: #2d3440;
  --main-bg-color: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1366px;
}

.pink-body {
  background-color: #feafc3;
}

.blue-body {
  background-color: #69a9ff;
}

.yellow-body {
  background-color: #fcc850;
}

.header-wrapper {
  margin: 0 auto;
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1170px;
}

.user-navigation {
  margin-left: auto;
}

.header-navigation {
  margin-left: 16px;
}

.header-navigation-list,
.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.user-navigation-list {
  gap: 16px;
  margin-right: 2px;
}

.logo {
  margin-top: 2px;
}

.header-navigation-link {
  display: inline-block;
  min-width: 85px;
  padding: 8px 16px;
  color: var(--main-color);
  line-height: 20px;
  text-decoration: none;
  border-radius: 27px;
  border: none;
}

.header-navigation-link {
  display: flex;
  gap: 9px;
  align-items: center;
}

.user-navigation-link {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--main-color);
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 6px 16px 6px 16px;
  cursor: pointer;
}

.header-phone-link {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  background-color: transparent;
}

.header-search-button {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
}

.header-search-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 356px;
  height: 96px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  right: 0;
  top: 40px;
}

.header-search-input {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  padding: 0 16px;
  width: 324px;
  height: 48px;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  /* display: none; */
}

.header-search-input::placeholder {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #b9b9b9;;
}

.user-navigation-link:hover,
.header-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
}

.user-navigation-link:focus-visible,
.header-navigation-link:focus-visible {
  border: none;
  outline: 2px solid #2d3440;
  outline-offset: 0;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link:active,
.header-navigation-link:active {
  background-color: #fcfcfc;
  outline: none;
}

.header-phone-link:hover {
  opacity: 0.3;
  background-color: transparent;
}

.header-phone-link:active {
  opacity: 0.5;
  background-color: transparent;
}

.header-phone-link:focus-visible {
  background-color: transparent;
  opacity: 0.7;
  outline: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
