@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

:root {
  --main-color: #2d3440;
  --main-bg-color: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1366px;
}

.button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  width: fit-content;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
  cursor: pointer;
  min-height: 44px;
  padding: 0 32px;
  border-radius: 26px;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background-color: #fcfcfc;
  color: var(--main-color);
  outline-color: #ff2f64;
  transition-duration: 0.3s;
}


.button:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  color: #fcfcfc;
}

.button:active {
  background-color: #feafc3;
  outline: 2px solid #2d3440;
  color: #fcfcfc;
}

.button:disabled {
  outline-color: #b9b9b9;
  background-color: rgba(185, 185, 185, 0.3)
}

.white-button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-weight: 700;
  color: var(--main-color);
  width: fit-content;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
  cursor: pointer;
  min-height: 44px;
  padding: 0 32px;
  border-radius: 26px;
  font-size: 16px;
  text-decoration: none;
}

.white-button:hover {
  background-color: rgba(252, 252, 252, 0.4);;
  color: var(--main-color);
  outline-color: #fcfcfc;
  transition-duration: 0.3s;
}

.white-button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.white-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.white-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
}

.pink-body {
  background-color: #feafc3;
}

.blue-body {
  background-color: #69a9ff;
}

.yellow-body {
  background-color: #fcc850;
}

.header-wrapper {
  margin: 0 auto;
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1170px;
}

.user-navigation {
  margin-left: auto;
}

.header-navigation {
  margin-left: 16px;
}

.header-navigation-list,
.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.user-navigation-list {
  gap: 16px;
  margin-right: 2px;
}

.header-navigation-item,
.user-navigation-item {
  position: relative;
}

.header-navigation-link {
  display: inline-block;
  min-width: 85px;
  padding: 8px 16px;
  color: var(--main-color);
  line-height: 20px;
  text-decoration: none;
  border-radius: 27px;
  border: none;
}

.header-navigation-link {
  display: flex;
  gap: 9px;
  align-items: center;
}

.user-navigation-link {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--main-color);
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 6px 16px 6px 16px;
  cursor: pointer;
}

.header-catalog-list-wrapper {
  display: none;
}

.header-search-button-wrapper:focus-within .header-catalog-list-wrapper {
  display: block;
  transition-duration: 0.3;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 8px 0;
  z-index: 1;
}

.header-catalog-title {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-left: 16px;
  height: 36px;
  padding-bottom: 8px;
}

.header-catalog-title::after {
  content: "";
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 103px;
  background-color: #b9b9b9;
}

.header-catalog-list {
  list-style: none;
  padding: 0;
}

.header-catalog-list-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 138px;
  min-height: 32px;
  padding: 0 16px;
  text-decoration: none;
  color: var(--main-color);
  font-size: 14px;
  line-height: 20px;
}

.header-catalog-list-link:hover {
  background-color: #ffc8d8;
  transition-duration: 0.3s;
}

.header-catalog-list-link:active {
  background-color: #ff7799;
  transition-duration: 0.3s;
}

.header-catalog-list-link:focus-visible {
  background-color: #ff4a78;
  transition-duration: 0.3s;
  color: #fcfcfc;
  border: none;
  outline: none;
}


.header-phone-link {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  background-color: transparent;
}

.header-search-button-wrapper {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-search-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.header-search-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 356px;
  height: 96px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  right: 0;
  top: 40px;
  cursor: default;
  display: none;
}

.header-search-input {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
  padding-right: 25px;
  width: 324px;
  height: 48px;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
}

.header-search-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;;
}

.header-search-input:focus {
  outline: none;
}

.header-search-close-button {
  display: none;
}

.header-search-button-wrapper:focus-within .header-search-close-button {
  display: block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  top: 40px;
  right: 13px;
  cursor: pointer;
  z-index: 1;
}

.header-search-close-button:hover,
.header-search-close-button:focus {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.header-search-close-button:focus-visible {
  border: none;
  outline: none;
}

.header-search-close-button:active {
  opacity: 0.8;
}

.user-navigation-link:hover,
.header-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
  transition-duration: 0.3s;
}

.header-navigation-link:active {
  background-color: rgb(252, 252, 252);
  border-radius: 27px;
  transition-duration: 0.3s;
}

.user-navigation-link:focus-visible,
.header-navigation-link:focus-visible,
.header-search-button:focus-visible {
  border: none;
  outline: 2px solid #2d3440;
  outline-offset: 0;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.5);
}

.header-search-button-wrapper:focus-within .header-search-wrapper {
  display: block;
}

.header-phone-link:hover {
  opacity: 0.3;
  background-color: transparent;
}

.header-phone-link:active {
  opacity: 0.5;
  background-color: transparent;
}

.user-navigation-link:active {
  background-color: #fcfcfc;
}

.header-phone-link:active {
  background-color: transparent;
}

.header-phone-link:focus-visible {
  background-color: transparent;
  opacity: 0.7;
  outline: none;
  border: none;
}

.header-navigation-link:disabled,
.user-navigation-link:disabled {
  background-color: #fcfcfc;
}

.header-search-button-wrapper:focus-within .user-navigation-link,
.header-search-button-wrapper:focus-within .header-navigation-link {
  background-color: #ff4a78;
  outline: 2px #000000 solid;
}

.header-search-button-wrapper:focus-within .header-navigation-link:active,
.header-search-button-wrapper:focus-within .user-navigation-link:active  {
  background-color: #ff4a78;
  opacity: 0.6;
}

.header-search-button-wrapper:focus-within .user-navigation-link svg path,
.header-search-button-wrapper:focus-within .header-navigation-link,
.header-search-button-wrapper:focus-within .user-navigation-link {
  fill: #fcfcfc;
  color: #fcfcfc;
  transition-duration: 0.3s;
}

.header-navigation-link-pink:disabled,
.user-navigation-link-pink:disabled {
  background-color: #ff4a78;
  opacity: 0.3;
}

.header-navigation-link-pink:disabled svg path,
.user-navigation-link-pink:disabled svg path {
  fill: #fcfcfc;
}

.header-search-button-wrapper:focus-within .header-navigation-link svg {
  transform: rotate(0.5turn);
  transition-duration: 0.3s;
}

.header-search-button-wrapper:focus-within .header-navigation-link svg path {
  fill: #fcfcfc;
}

.header-basket {
  display: none;
}

.basket-link:focus-within .header-basket {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fcfcfc;
  padding: 48px;
  border-radius: 4px;
  width: 441px;
  top: 40px;
  right: 0;
  z-index: 2;
}

.basket-empty {
  position: absolute;
  box-sizing: border-box;
  background-color: #fcfcfc;
  display: none;
  justify-content: center;
  top: 40px;
  right: 0;
  min-width: 288px;
  padding: 48px 10px;
}

.basket-empty-text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.basket-name {
  color: var(--main-color);
  font-weight: 700;
  text-align: start;
  font-size: 24px;
  line-height: 30px;
}

.basket-products-list {
  list-style: none;
  padding: 0;
  padding-bottom: 32px;
  position: relative;
}

.basket-products-list::after {
  content: "";
  position: absolute;
  background-color: #e7e7e7;
  width: 100%;
  height: 1px;
  bottom: 0;
}

.basket-products-item {
  display: flex;
  align-items: center;
}

.basket-products-item:not(:last-child) {
  margin-bottom: 24px;
}

.basket-products-link {
  display: flex;
  color: var(--main-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.basket-products-link:hover,
.basket-products-link:focus  {
  opacity: 0.3;
  transition-duration: 0.3s;
  outline: none;
}

.basket-products-link:active {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.basket-item-description {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.basket-item-price {
  margin-left: auto;
  margin-right: 55px;
}

.tooltip-delete-button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
  margin-right: -10px;
}

.tooltip-delete-button:hover,
.tooltip-delete-button:focus {
  opacity: 0.3;
  transition-duration: 0.3s;
  outline: none;
}

.tooltip-delete-button:active {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.basket-product-image {
  margin-right: 16px;
}

.basket-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.basket-total-price {
  font-weight: 700;
  font-size: 18px;
}

.header-modal-wrapper {
  display: none;
}

.header-search-button-wrapper:focus-within .header-modal-wrapper {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 4px;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  padding-bottom: 52px;
  background-color: #fcfcfc;
  z-index: 2;
}

.header-modal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-modal-headline {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
}

.header-modal-input {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 48px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.header-modal-input::placeholder {
  font-family: "Inter", sans-serif;
  color: #b9b9b9;
  font-size: 16px;
  line-height: 20px;
}

.header-modal-input:hover,
.header-search-input:hover {
  border: 1px solid #2d3440;
}

.header-modal-input:focus,
.header-search-input:focus {
  border: 2px solid #2d3440;
}

.header-modal-input-error,
.header-search-input-error {
  border-color: #ea5454;
}

.header-modal-input-error:hover,
.header-search-input-error:hover {
  border-width: 2px;
}

.header-modal-input:disabled {
  background-color: #e7e7e7;
}

.header-modal-input-password {
  margin-bottom: 32px;
}

.header-modal-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.header-modal-link:hover,
.header-modal-link:focus {
  opacity: 0.3;
  transition-duration: 0.3s;
  outline: none;
}

.header-modal-link:active {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.header-modal-enter-button {
  margin-right: 23px;
}

.main-index {
  flex-grow: 1;
}

.product-slider {
  position: relative;
  width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
}

.slider-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-top: 24px;
  padding-left: 70px;
}

.slider-wrapper-hidden {
  display: none;
}

.slider-switch-button {
  position: absolute;
  padding: 0;
  width: 34px;
  height: 34px;
  outline: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: none;
  top: 258px;
  left: 543px;
  cursor: pointer;
  z-index: 1;
}

.slider-switch-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-switch-button:hover {
  background-color: #fcfcfc;
}

.slider-switch-button:hover svg path,
.slider-switch-button:active svg path,
.slider-switch-button:focus-visible svg path {
  fill: #2d3440;
}

.slider-switch-button:active {
  outline-color: rgba(252, 252, 252, 0.3);
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-switch-button:focus-visible {
  outline-color: #2d3440;
}

.slider-switch-button:disabled {
  opacity: 0.3;
}

.slider-next-button {
  transform: rotate(180deg);
  left: 855px;
}

.ice-cream-name {
  margin: 0;
  margin-top: 133px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.ice-cream-description {
  margin: 0;
  margin-top: 24px;
  font-size: 18px;
  line-height: 24px;
  max-width: 429px;
}

.slider-order-button {
  margin-top: 48px;
}

.ice-cream-images {
  display: flex;
  align-items: center;
  gap: 75px;
  padding-top: 17px;
}

.slider-description-wrapper {
  width: 491px;
}

.slider-bottom-wrapper {
  width: 100% ;
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  position: absolute;
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-left: 0;
}

.slider-pagination-button {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  margin-bottom: -8px;
}

.slider-pagination-button::before {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  outline: 1px solid #fcfcfc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-pagination-button:hover::before {
  opacity: 1;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-pagination-button:active::before {
  opacity: 0.5;
}

.slider-pagination-button:focus-visible::before {
  outline-color: #2d3440;
}

.slider-pagination-button:focus {
  outline: none;
  border: none;
}

.slider-social-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.slider-social-link {
  padding: 0;
  width: 24px;
  height: 24px;
  display: block;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.slider-social-link:hover {
  background-color: #2d3440;
}

.slider-social-link:active {
  background-color: #2d3440;
  opacity: 0.5;
}

.slider-social-link:focus-visible {
  background-color: #2d3440;
  outline-color: #2d3440;
  border: none;
}

.slider-main-image {
  position: relative;
  margin-right: 4px;
}

.slider-main-image::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #ffcbd8;
  z-index: -1;
  top: 100px;
}

.slider-image {
  position: relative;
  padding-top: 10px;
}

.slider-image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  opacity: 0.4;
  z-index: -1;
  top: 35px;
  right: -17px;
}

.gifts-section {
  margin: 0 auto;
  width: 1170px;
}

.gifts-section-title,
.index-catalog-section-title {
  margin: 0 auto;
  margin-top: 80px;
  width: 434px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.gifts-section-wrapper {
  margin: 0 auto;
  margin-top: 55px;
  display: grid;
  gap: 30px;
  grid-template-columns: 570px 570px;
}

.gifts-section-card {
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px;
  padding-right: 0;
}

.gifts-section-card-raspberry {
  background-image: url(../images/index/raspberry-gift.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.gifts-section-card-marshmallow {
  background-image: url(../images/index/marshmallow-gift.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.gifts-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gifts-card-text {
  margin: 28px 0;
  max-width: 328px;
}

.index-catalog-section {
  margin: 0 auto;
  width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
